<div class="container-fluid">
  <div class="container">
    <h1>CUADRE DE CAJA</h1>
    <h4>Seguro que quiere extornar esta operacion</h4>
    <mat-divider style="height: 20px; margin: 05px;" [inset]="true"></mat-divider>
    <div class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="text-white" (click)="Extornar()">ACEPTAR</button>
      <mat-divider style=" margin: 10px;" [vertical]="true"></mat-divider>
      <button mat-raised-button color="primary" class="text-white" (click)="Cerrar()">CANCELAR</button>
    </div>
  </div>
</div>
