.mat-form-field {
  display: block;
}
div.container-fluid{
  background-image: url('http://rsgm.online/PreBankerSimulador/assets/LOGO_3.png');
  background-repeat: repeat;
}
div.container{
  background-color: white;
}
